* {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
.clearfix {
	display: inline-block;
}
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.overlay{
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
}
.picker {
	position: absolute;
	z-index: 1001;
	width: 370px;
	border: 1px solid #44ddff;
	border-radius: 10px;
	box-shadow: 5px 5px 20px #55eeff;
	font-family: "Microsoft Yahei","微软雅黑";
	background-color: #fff;
	overflow: hidden;
}
.picker a {
	text-decoration: none;
}
.picker_header {
	width: 100%;
	height: 40px;
	background-color: #44ddff;
	overflow: hidden;
}
.picker_header a {
	float: left;
	line-height: 40px;
	font-size: 20px;
	color: #fff;
	text-align: center;
	text-decoration: none;
}
.picker_header .left,
.picker_header .right {
	width: 40px;
}
.picker_header .center {
	width: 290px;
}
.picker_body {
	width: 100%;
}
.week_list,
.date_list {
	width: 350px;
	padding: 0 10px;
	text-align: center;
}
.week_list li {
	float: left;
	width: 50px;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	color: #777;
}
.date_list li {
	float: left;
	width: 50px;
}
.date_list li a {
	display: block;
	width: 36px;
	margin: 2px 7px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	color: #777;
}
.date_list .unable a{
	color: #ddd;
	cursor: default;
}
.date_list .active a{
	width: 32px;
	height: 26px;
	line-height: 26px;
	border: 2px solid #44ddff;
}
.date_list .today a{
	background-color: #44ddff;
	color: #fff;
}
.date_list .weekend a{
	color: #f00;
}
.month_list {
	width: 340px;
	padding: 0 15px 5px;
	text-align: center;
}
.month_list li {
	float: left;
	width: 85px;
	padding: 10px 0;
}

.month_list li a {
	display: block;
	width: 65px;
	margin: 5px 10px 0;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	font-size: 16px;
	color: #777;
}
.month_list .unable a{
	color: #ddd;
	cursor: default;
}
.month_list .active a{
	width: 61px;
	height: 36px;
	line-height: 36px;
	border: 2px solid #44ddff;
}
.month_list .today a{
	background-color: #44ddff;
	color: #fff;
}


